body {
  background-color: #18191a;
  width: 100%;
  height: auto;
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 56px;
  color: #169292;
  font-weight: 400;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 56px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 24px 24px;
  height: 400px;
  width: 400px;
  font-weight: 200;
}
.image_card {
  height: 300px;
  width: 300px;
}
.name {
  font-size: 18px;
  font-weight: 400;
  color: #169292;
}
.description {
  font-size: 12px;
  padding: 24px;
  text-align: center;
}
@media (max-width: 1140px) {
  .card {
    height: 350px;
    width: 350px;
  }
  .image_card {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 1024px) {
  section {
    flex-direction: column;
  }
}
